{% extends 'blog/base.html'%}

{% block title %}
Login 
{% endblock %}
{% block navbar%} 
{% endblock %} 
{% block content %} 
{% load staticfiles %}
<head>
    <title>Registrarse</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
	<form method="post"> 
		{% csrf_token %} 
		<div class="row"> 
			<div style="text-align: center" class="col-md-6 col-md-offset-3"> 
				<div style="margin-bottom: -75px"  class="form-group">
					 <label >Registro</label>
				</div> 
			</div> 
		</div> 
		<div class="row"> 
			<div class="col-md-6 col-md-offset-3"> 
				<div style="margin-bottom: -95px" class="form-group">
					 <label for="username">Usuario</label>
					 <input class="form-control" type="text" name="username">
				</div> 
				<div style="margin-bottom: -95px" class="form-group">
					 <label for="username">Nombre</label>
					 <input class="form-control" type="text" name="username">
				</div> 
				<div style="margin-bottom: -95px" class="form-group">
					 <label for="username">Apellido</label>
					 <input class="form-control" type="text" name="username">
				</div> 
				<div style="margin-bottom: -95px" class="form-group">
					 <label for="username">Pais</label>
					 <input class="form-control" type="text" name="username">
				</div> 
				<div style="margin-bottom: -95px" class="form-group">
					 <label for="username">E-mail</label>
					 <input class="form-control" type="text" name="username">
				</div> 
				<div style="margin-bottom: -95px" class="form-group"> 
					<label for="username">Contraseña:</label> 
					<input class="form-control" type="password" name="password"> 
				</div> 
				<div  class="form-group"> 
					<label for="username">Confirmar contraseña:</label> 
					<input class="form-control" type="password" name="password"> 
				</div> 
				<div class="form-group"> 
					<button class="btn btn-primary btn-block" type="submit" name="registrarse"/>Registrarse</button>  
				</div> 
			</div> 
		</div>  
	</form>
</body>
{% endblock %}﻿